# Reading in Files

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Scripts.py\Companies.csv", sep = ',')

df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.60%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.50%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.50%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.50%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.70%,"51,000","San Diego, California"

In [111]:
df1 = pd.read_excel(r"C:\Users\USER\OneDrive\Excel Files\Sales Data Dashboard new (Recovered).xlsx",sheet_name = 'Sales')

df1

,Date,Day,Month,Year,Customer_Age,Age Group,CustoMaleer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2016-04-12,12,April,2016,41,Adults,Male,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
112032,2014-04-02,2,April,2014,18,Youth,Male,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
112033,2016-04-02,2,April,2016,18,Youth,Male,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
112034,2014-03-04,4,March,2014,37,Adults,Female,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
112035,2016-03-04,4,March,2016,37,Adults,Female,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [19]:
pd.set_option('display.max.rows', 500)

In [20]:
df1 = pd.read_excel(r"C:\Users\USER\OneDrive\Excel Files\Sales Data Dashboard new (Recovered).xlsx",sheet_name = 'Sales')

df1

,Date,Day,Month,Year,Customer_Age,Age Group,CustoMaleer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2016-04-12,12,April,2016,41,Adults,Male,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
112032,2014-04-02,2,April,2014,18,Youth,Male,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
112033,2016-04-02,2,April,2016,18,Youth,Male,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
112034,2014-03-04,4,March,2014,37,Adults,Female,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
112035,2016-03-04,4,March,2016,37,Adults,Female,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112036 entries, 0 to 112035
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                112036 non-null  datetime64[ns]
 1   Day                 112036 non-null  int64
 2   Month               112036 non-null  object
 3   Year                112036 non-null  int64
 4   Customer_Age        112036 non-null  int64
 5   Age Group           112036 non-null  object
 6   CustoMaleer_Gender  112036 non-null  object
 7   Country             112036 non-null  object
 8   State               112036 non-null  object
 9   Product_Category    112036 non-null  object
 10  Sub_Category        112036 non-null  object
 11  Product             112036 non-null  object
 12  Order_Quantity      112036 non-null  int64
 13  Unit_Cost           112036 non-null  int64
 14  Unit_Price          112036 non-null  int64
 15  Profit              112036 non-null  int64
 16  Cost                112036 non-null  int64
 17  Revenue             112036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.4+ MB

In [22]:
df1.shape

(112036, 18)

In [23]:
df1.head(50)

,Date,Day,Month,Year,Customer_Age,Age Group,CustoMaleer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
5,2016-05-15,15,May,2016,47,Adults,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
6,2014-05-22,22,May,2014,47,Adults,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
7,2016-05-22,22,May,2016,47,Adults,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
8,2014-02-22,22,February,2014,35,Adults,Male,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,45,120,1096,990,2086
9,2016-02-22,22,February,2016,35,Adults,Male,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,21,45,120,1046,945,1991
10,2013-07-30,30,July,2013,32,Young Adults,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,398,360,758
11,2015-07-30,30,July,2015,32,Young Adults,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,398,360,758
12,2013-07-15,15,July,2013,34,Young Adults,Male,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664
13,2015-07-15,15,July,2015,34,Young Adults,Male,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664
14,2013-08-02,2,August,2013,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
15,2015-08-02,2,August,2015,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,517,315,832
16,2013-09-02,2,September,2013,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
17,2015-09-02,2,September,2015,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,74,45,119
18,2014-01-22,22,January,2014,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,74,45,119
19,2016-01-22,22,January,2016,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,74,45,119
20,2014-05-17,17,May,2014,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,443,270,713
21,2016-05-17,17,May,2016,29,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
22,2014-03-27,27,March,2014,51,Adults,Male,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,9,45,120,524,405,929
23,2016-03-27,27,March,2016,51,Adults,Male,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,407,315,722
24,2013-08-25,25,August,2013,49,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,3,45,120,221,135,356
25,2015-08-25,25,August,2015,49,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,74,45,119
26,2013-12-26,26,December,2013,49,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,443,270,713
27,2015-12-26,26,December,2015,49,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
28,2014-01-02,2,January,2014,48,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,295,180,475
29,2016-01-02,2,January,2016,48,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,295,180,475
30,2014-03-13,13,March,2014,48,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1476,900,2376
31,2016-03-13,13,March,2016,48,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,45,120,1624,990,2614
32,2014-05-23,23,May,2014,47,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,24,45,120,1771,1080,2851
33,2016-05-23,23,May,2016,47,Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1697,1035,2732
34,2013-07-19,19,July,2013,32,Young Adults,Female,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,9,45,120,524,405,929
35,2015-07-19,19,July,2015,32,Young Adults,Female,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,9,45,120,524,405,929
36,2013-11-11,11,November,2013,34,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,25,45,120,1845,1125,2970
37,2015-11-11,11,November,2015,34,Young Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1697,1035,2732
38,2013-07-13,13,July,2013,43,Adults,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10,45,120,726,450,1176
39,2015-07-13,13,July,2015,43,Adults,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10,45,120,726,450,1176
40,2014-03-31,31,March,2014,43,Adults,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,11,45,120,799,495,1294
41,2016-03-31,31,March,2016,43,Adults,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,11,45,120,799,495,1294
42,2013-08-28,28,August,2013,61,Adults,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,581,360,941
43,2015-08-28,28,August,2015,61,Adults,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10,45,120,726,450,1176
44,2013-08-27,27,August,2013,57,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
45,2015-08-27,27,August,2015,57,Adults,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,74,45,119
46,2013-11-17,17,November,2013,29,Young Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,12,45,120,886,540,1426
47,2015-11-17,17,November,2015,29,Young Adults,Female,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,14,45,120,1033,630,1663
48,2013-08-07,7,August,2013,38,Adults,Male,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,3,45,120,160,135,295
49,2015-08-07,7,August,2015,38,Adults,Male,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,53,45,98

In [24]:
df1.loc[500]

Date                  2014-02-28 00:00:00
Day                                    28
Month                            February
Year                                 2014
Customer_Age                           22
Age Group                           Youth
CustoMaleer_Gender                 Female
Country                           Germany
State                            Saarland
Product_Category              Accessories
Sub_Category                   Bike Racks
Product               Hitch Rack - 4-Bike
Order_Quantity                          3
Unit_Cost                              45
Unit_Price                            120
Profit                                160
Cost                                  135
Revenue                               295
Name: 500, dtype: object

In [25]:
df1.iloc[500]

Date                  2014-02-28 00:00:00
Day                                    28
Month                            February
Year                                 2014
Customer_Age                           22
Age Group                           Youth
CustoMaleer_Gender                 Female
Country                           Germany
State                            Saarland
Product_Category              Accessories
Sub_Category                   Bike Racks
Product               Hitch Rack - 4-Bike
Order_Quantity                          3
Unit_Cost                              45
Unit_Price                            120
Profit                                160
Cost                                  135
Revenue                               295
Name: 500, dtype: object

## Filtering Data Within Pandas

In [60]:
df

,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
Rank,,,,,
1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"
50,Tesla,"81,462",51.40%,"127,855","Austin, Texas"
51,Procter & Gamble,"80,187",5.30%,"106,000","Cincinnati, Ohio"
52,United States Postal Service,"78,620",2.00%,"576,000","Washington, D.C."
53,Albertsons,"77,650",8.00%,"198,650","Boise, Idaho"
54,General Electric,"76,555",3.20%,"172,000","Boston, Massachusetts"
55,MetLife,"69,898",1.70%,"45,000","New York City, New York"
56,Goldman Sachs,"68,711",5.70%,"48,500","New York City, New York"
57,Sysco,"68,636",33.80%,"70,510","Houston, Texas"
58,Bunge Limited,"67,232",13.70%,"23,000","White Plains, New York"
59,RTX Corporation,"67,074",4.20%,"182,000","Arlington County, Virginia"
60,Boeing,"66,608",6.90%,"156,000","Chicago, Illinois"
61,StoneX Group,"66,036",55.30%,"3,605","New York City, New York"
62,Lockheed Martin,"65,984",1.60%,"116,000","Bethesda, Maryland"
63,Morgan Stanley,"65,936",7.90%,"82,427","New York City, New York"
64,Intel,"63,054",20.10%,"131,900","Santa Clara, California"
65,HP,"62,983",0.80%,"58,000","Palo Alto, California"
66,TD Synnex,"62,344",97.20%,"28,500","Clearwater, Florida"
67,IBM,"60,530",16.30%,"303,100","Armonk, New York"
68,HCA Healthcare,"60,233",2.50%,"250,500","Nashville, Tennessee"
69,Prudential Financial,"60,050",15.30%,"39,583","Newark, New Jersey"
70,Caterpillar,"59,427",16.60%,"109,100","Deerfield, Illinois"
71,Merck & Co.,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
72,World Fuel Services,"59,043",88.40%,"5,214","Miami, Florida"
73,New York Life Insurance Company,"58,445",14.20%,"15,050","New York City, New York"
74,Enterprise Products,"58,186",42.60%,"7,300","Houston, Texas"
75,AbbVie,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
76,Plains All American Pipeline,"57,342",36.30%,"4,100","Houston, Texas"
77,Dow Chemical Company,"56,902",3.50%,"37,800","Midland, Michigan"
78,AIG,"56,437",8.40%,"26,200","New York City, New York"
79,American Express,"55,625",27.30%,"77,300","New York City, New York"
80,Publix,"54,942",13.50%,"242,000","Lakeland, Florida"
81,Charter Communications,"54,022",4.50%,"101,700","Stamford, Connecticut"
82,Tyson Foods,"53,282",13.20%,"142,000","Springdale, Arkansas"
83,John Deere,"52,577",19.40%,"82,239","Moline, Illinois"
84,Cisco,"51,557",3.50%,"83,300","San Jose, California"
85,Nationwide Mutual Insurance Company,"51,450",8.60%,"24,791","Columbus, Ohio"
86,Allstate,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
87,Delta Air Lines,"50,582",69.20%,"95,000","Atlanta, Georgia"
88,Liberty Mutual,"49,956",3.60%,"50,000","Boston, Massachusetts"
89,TJX,"49,936",2.90%,"329,000","Framingham, Massachusetts"
90,Progressive Corporation,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
91,American Airlines,"48,971",63.90%,"129,700","Fort Worth, Texas"
92,CHS,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
93,Performance Food Group,"47,194",61.60%,"34,825","Richmond, Virginia"
94,PBF Energy,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
95,Nike,"46,710",4.90%,"79,100","Beaverton, Oregon"
96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"
97,Bristol-Myers Squibb,"46,159",0.50%,"34,300","New York City, New York"
98,United Airlines,"44,955",82.50%,"92,795","Chicago, Illinois"
99,Thermo Fisher Scientific,"44,915",14.50%,"130,000","Waltham, Massachusetts"
100,Qualcomm,"44,200",31.70%,"51,000","San Diego, California"

In [3]:
df[df['Rank'] < 50]

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
5,6,CVS Health,Healthcare,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
6,7,Berkshire Hathaway,Conglomerate,"302,089",9.40%,"383,000","Omaha, Nebraska"
7,8,Alphabet,Technology,"282,836",9.80%,"156,000","Mountain View, California"
8,9,McKesson Corporation,Health,"276,711",4.80%,"48,500","Irving, Texas"
9,10,Chevron Corporation,Petroleum industry,"246,252",51.60%,"43,846","San Ramon, California"
10,11,AmerisourceBergen,Pharmaceutical industry,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
11,12,Costco,Retail,"226,954",15.80%,"304,000","Issaquah, Washington"
12,13,Microsoft,Technology,"198,270",18.00%,"221,000","Redmond, Washington"
13,14,Cardinal Health,Healthcare,"181,364",11.60%,"46,035","Dublin, Ohio"
14,15,Cigna,Health Insurance,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
15,16,Marathon Petroleum,Petroleum industry,"180,012",27.60%,"17,800","Findlay, Ohio"
16,17,Phillips 66,Petroleum industry,"175,702",53.00%,"13,000","Houston, Texas"
17,18,Valero Energy,Petroleum industry,"171,189",58.00%,"9,743","San Antonio, Texas"
18,19,Ford Motor Company,Automotive industry,"158,057",15.90%,"173,000","Dearborn, Michigan"
19,20,The Home Depot,Retail,"157,403",4.10%,"471,600","Atlanta, Georgia"
20,21,General Motors,Automotive,"156,735",23.40%,"167,000","Detroit, Michigan"
21,22,Elevance Health,Healthcare,"156,595",13.00%,"102,200","Indianapolis, Indiana"
22,23,JPMorgan Chase,Financial services,"154,792",21.70%,"293,723","New York City, New York"
23,24,Kroger,Retail,"148,258",7.50%,"430,000","Cincinnati, Ohio"
24,25,Centene,Healthcare,"144,547",14.70%,"74,300","St. Louis, Missouri"
25,26,Verizon Communications,Telecommunications,"136,835",2.40%,"117,100","New York City, New York"
26,27,Walgreens Boots Alliance,Pharmaceutical industry,"132,703",10.70%,"262,500","Deerfield, Illinois"
27,28,Fannie Mae,Financials,"121,596",19.70%,"8,000","Washington, D.C."
28,29,Comcast,Telecommunications,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
29,30,AT&T,Conglomerate,"120,741",28.50%,"160,700","Dallas, Texas"
30,31,Meta Platforms,Technology,"116,609",1.10%,"86,482","Menlo Park, California"
31,32,Bank of America,Financials,"115,053",22.60%,"216,823","Charlotte, North Carolina"
32,33,Target Corporation,Retail,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
33,34,Dell Technologies,Technology,"102,301",4.40%,"133,000","Round Rock, Texas"
34,35,Archer Daniels Midland,Food industry,"101,556",19.10%,"41,181","Chicago, Illinois"
35,36,Citigroup,Financials,"101,078",26.60%,"238,104","New York City, New York"
36,37,United Parcel Service,Transportation,"100,338",3.10%,"404,700","Atlanta, Georgia"
37,38,Pfizer,Pharmaceutical industry,"100,330",23.40%,"83,000","New York City, New York"
38,39,Lowe's,Retail,"97,059",0.80%,"244,500","Mooresville, North Carolina"
39,40,Johnson & Johnson,Pharmaceutical industry,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
40,41,FedEx,Transportation,"93,512",11.40%,"518,249","Memphis, Tennessee"
41,42,Humana,Health Insurance,"92,870",11.80%,"67,100","Louisville, Kentucky"
42,43,Energy Transfer Partners,Petroleum industry,"89,876",33.30%,"12,565","Dallas, Texas"
43,44,State Farm,Financials,"89,328",8.60%,"60,519","Bloomington, Illinois"
44,45,Freddie Mac,Financials,"86,717",31.60%,"7,819","McLean, Virginia"
45,46,PepsiCo,Beverage,"86,859",8.70%,"315,000","Purchase, New York"
46,47,Wells Fargo,Financials,"82,859",0.50%,"238,000","San Francisco, California"
47,48,The Walt Disney Company,Media,"82,722",22.70%,"195,800","Burbank, California"
48,49,ConocoPhillips,Petroleum industry,"82,156",69.90%,"9,500","Houston, Texas"

In [34]:
specific_industry = ['Retail', 'Electronics industry']

df[df['Industry'].isin(specific_industry)]

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
3,4,Apple,Electronics industry,"394,328",7.80%,"164,000","Cupertino, California"
11,12,Costco,Retail,"226,954",15.80%,"304,000","Issaquah, Washington"
19,20,The Home Depot,Retail,"157,403",4.10%,"471,600","Atlanta, Georgia"
23,24,Kroger,Retail,"148,258",7.50%,"430,000","Cincinnati, Ohio"
32,33,Target Corporation,Retail,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
38,39,Lowe's,Retail,"97,059",0.80%,"244,500","Mooresville, North Carolina"
52,53,Albertsons,Retail,"77,650",8.00%,"198,650","Boise, Idaho"
79,80,Publix,Retail,"54,942",13.50%,"242,000","Lakeland, Florida"
88,89,TJX,Retail,"49,936",2.90%,"329,000","Framingham, Massachusetts"
95,96,Best Buy,Retail,"46,298",10.60%,"71,100","Richfield, Minnesota"

In [35]:
df[df['Industry'].str.contains('Electronics industry')]

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
3,4,Apple,Electronics industry,"394,328",7.80%,"164,000","Cupertino, California"

## Filtering on index

In [50]:
df.reset_index(inplace=True)

In [51]:
df

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
5,6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
6,7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
7,8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
8,9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
9,10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
10,11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
11,12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
12,13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
13,14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
14,15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
15,16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
16,17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
17,18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
18,19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
19,20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
20,21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
21,22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
22,23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
23,24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
24,25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
25,26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
26,27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
27,28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
28,29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
29,30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
30,31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
31,32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
32,33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
33,34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
34,35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
35,36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
36,37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
37,38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
38,39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
39,40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
40,41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
41,42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
42,43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
43,44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
44,45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
45,46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
46,47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
47,48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
48,49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"
49,50,Tesla,"81,462",51.40%,"127,855","Austin, Texas"
50,51,Procter & Gamble,"80,187",5.30%,"106,000","Cincinnati, Ohio"
51,52,United States Postal Service,"78,620",2.00%,"576,000","Washington, D.C."
52,53,Albertsons,"77,650",8.00%,"198,650","Boise, Idaho"
53,54,General Electric,"76,555",3.20%,"172,000","Boston, Massachusetts"
54,55,MetLife,"69,898",1.70%,"45,000","New York City, New York"
55,56,Goldman Sachs,"68,711",5.70%,"48,500","New York City, New York"
56,57,Sysco,"68,636",33.80%,"70,510","Houston, Texas"
57,58,Bunge Limited,"67,232",13.70%,"23,000","White Plains, New York"
58,59,RTX Corporation,"67,074",4.20%,"182,000","Arlington County, Virginia"
59,60,Boeing,"66,608",6.90%,"156,000","Chicago, Illinois"
60,61,StoneX Group,"66,036",55.30%,"3,605","New York City, New York"
61,62,Lockheed Martin,"65,984",1.60%,"116,000","Bethesda, Maryland"
62,63,Morgan Stanley,"65,936",7.90%,"82,427","New York City, New York"
63,64,Intel,"63,054",20.10%,"131,900","Santa Clara, California"
64,65,HP,"62,983",0.80%,"58,000","Palo Alto, California"
65,66,TD Synnex,"62,344",97.20%,"28,500","Clearwater, Florida"
66,67,IBM,"60,530",16.30%,"303,100","Armonk, New York"
67,68,HCA Healthcare,"60,233",2.50%,"250,500","Nashville, Tennessee"
68,69,Prudential Financial,"60,050",15.30%,"39,583","Newark, New Jersey"
69,70,Caterpillar,"59,427",16.60%,"109,100","Deerfield, Illinois"
70,71,Merck & Co.,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
71,72,World Fuel Services,"59,043",88.40%,"5,214","Miami, Florida"
72,73,New York Life Insurance Company,"58,445",14.20%,"15,050","New York City, New York"
73,74,Enterprise Products,"58,186",42.60%,"7,300","Houston, Texas"
74,75,AbbVie,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
75,76,Plains All American Pipeline,"57,342",36.30%,"4,100","Houston, Texas"
76,77,Dow Chemical Company,"56,902",3.50%,"37,800","Midland, Michigan"
77,78,AIG,"56,437",8.40%,"26,200","New York City, New York"
78,79,American Express,"55,625",27.30%,"77,300","New York City, New York"
79,80,Publix,"54,942",13.50%,"242,000","Lakeland, Florida"
80,81,Charter Communications,"54,022",4.50%,"101,700","Stamford, Connecticut"
81,82,Tyson Foods,"53,282",13.20%,"142,000","Springdale, Arkansas"
82,83,John Deere,"52,577",19.40%,"82,239","Moline, Illinois"
83,84,Cisco,"51,557",3.50%,"83,300","San Jose, California"
84,85,Nationwide Mutual Insurance Company,"51,450",8.60%,"24,791","Columbus, Ohio"
85,86,Allstate,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
86,87,Delta Air Lines,"50,582",69.20%,"95,000","Atlanta, Georgia"
87,88,Liberty Mutual,"49,956",3.60%,"50,000","Boston, Massachusetts"
88,89,TJX,"49,936",2.90%,"329,000","Framingham, Massachusetts"
89,90,Progressive Corporation,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
90,91,American Airlines,"48,971",63.90%,"129,700","Fort Worth, Texas"
91,92,CHS,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
92,93,Performance Food Group,"47,194",61.60%,"34,825","Richmond, Virginia"
93,94,PBF Energy,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
94,95,Nike,"46,710",4.90%,"79,100","Beaverton, Oregon"
95,96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,"46,159",0.50%,"34,300","New York City, New York"
97,98,United Airlines,"44,955",82.50%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,"44,915",14.50%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,"44,200",31.70%,"51,000","San Diego, California"

In [53]:
df = df.set_index('Rank')
df

,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
Rank,,,,,
1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"
50,Tesla,"81,462",51.40%,"127,855","Austin, Texas"
51,Procter & Gamble,"80,187",5.30%,"106,000","Cincinnati, Ohio"
52,United States Postal Service,"78,620",2.00%,"576,000","Washington, D.C."
53,Albertsons,"77,650",8.00%,"198,650","Boise, Idaho"
54,General Electric,"76,555",3.20%,"172,000","Boston, Massachusetts"
55,MetLife,"69,898",1.70%,"45,000","New York City, New York"
56,Goldman Sachs,"68,711",5.70%,"48,500","New York City, New York"
57,Sysco,"68,636",33.80%,"70,510","Houston, Texas"
58,Bunge Limited,"67,232",13.70%,"23,000","White Plains, New York"
59,RTX Corporation,"67,074",4.20%,"182,000","Arlington County, Virginia"
60,Boeing,"66,608",6.90%,"156,000","Chicago, Illinois"
61,StoneX Group,"66,036",55.30%,"3,605","New York City, New York"
62,Lockheed Martin,"65,984",1.60%,"116,000","Bethesda, Maryland"
63,Morgan Stanley,"65,936",7.90%,"82,427","New York City, New York"
64,Intel,"63,054",20.10%,"131,900","Santa Clara, California"
65,HP,"62,983",0.80%,"58,000","Palo Alto, California"
66,TD Synnex,"62,344",97.20%,"28,500","Clearwater, Florida"
67,IBM,"60,530",16.30%,"303,100","Armonk, New York"
68,HCA Healthcare,"60,233",2.50%,"250,500","Nashville, Tennessee"
69,Prudential Financial,"60,050",15.30%,"39,583","Newark, New Jersey"
70,Caterpillar,"59,427",16.60%,"109,100","Deerfield, Illinois"
71,Merck & Co.,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
72,World Fuel Services,"59,043",88.40%,"5,214","Miami, Florida"
73,New York Life Insurance Company,"58,445",14.20%,"15,050","New York City, New York"
74,Enterprise Products,"58,186",42.60%,"7,300","Houston, Texas"
75,AbbVie,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
76,Plains All American Pipeline,"57,342",36.30%,"4,100","Houston, Texas"
77,Dow Chemical Company,"56,902",3.50%,"37,800","Midland, Michigan"
78,AIG,"56,437",8.40%,"26,200","New York City, New York"
79,American Express,"55,625",27.30%,"77,300","New York City, New York"
80,Publix,"54,942",13.50%,"242,000","Lakeland, Florida"
81,Charter Communications,"54,022",4.50%,"101,700","Stamford, Connecticut"
82,Tyson Foods,"53,282",13.20%,"142,000","Springdale, Arkansas"
83,John Deere,"52,577",19.40%,"82,239","Moline, Illinois"
84,Cisco,"51,557",3.50%,"83,300","San Jose, California"
85,Nationwide Mutual Insurance Company,"51,450",8.60%,"24,791","Columbus, Ohio"
86,Allstate,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
87,Delta Air Lines,"50,582",69.20%,"95,000","Atlanta, Georgia"
88,Liberty Mutual,"49,956",3.60%,"50,000","Boston, Massachusetts"
89,TJX,"49,936",2.90%,"329,000","Framingham, Massachusetts"
90,Progressive Corporation,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
91,American Airlines,"48,971",63.90%,"129,700","Fort Worth, Texas"
92,CHS,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
93,Performance Food Group,"47,194",61.60%,"34,825","Richmond, Virginia"
94,PBF Energy,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
95,Nike,"46,710",4.90%,"79,100","Beaverton, Oregon"
96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"
97,Bristol-Myers Squibb,"46,159",0.50%,"34,300","New York City, New York"
98,United Airlines,"44,955",82.50%,"92,795","Chicago, Illinois"
99,Thermo Fisher Scientific,"44,915",14.50%,"130,000","Waltham, Massachusetts"
100,Qualcomm,"44,200",31.70%,"51,000","San Diego, California"

In [57]:
df.filter(items = ['Headquarters', 'Revenue growth'], axis = 1)

                                    Headquarters Revenue growth
Rank
1                          Bentonville, Arkansas          6.70%
2                            Seattle, Washington          9.40%
3                                  Spring, Texas         44.80%
4                          Cupertino, California          7.80%
5                          Minnetonka, Minnesota         12.70%
6                       Woonsocket, Rhode Island         10.40%
7                                Omaha, Nebraska          9.40%
8                      Mountain View, California          9.80%
9                                  Irving, Texas          4.80%
10                         San Ramon, California         51.60%
11                    Chesterbrook, Pennsylvania         11.50%
12                          Issaquah, Washington         15.80%
13                           Redmond, Washington         18.00%
14                                  Dublin, Ohio         11.60%
15                       Bloomfield, Connecticut          3.70%
16                                 Findlay, Ohio         27.60%
17                                Houston, Texas         53.00%
18                            San Antonio, Texas         58.00%
19                            Dearborn, Michigan         15.90%
20                              Atlanta, Georgia          4.10%
21                             Detroit, Michigan         23.40%
22                         Indianapolis, Indiana         13.00%
23                       New York City, New York         21.70%
24                              Cincinnati, Ohio          7.50%
25                           St. Louis, Missouri         14.70%
26                       New York City, New York          2.40%
27                           Deerfield, Illinois         10.70%
28                              Washington, D.C.         19.70%
29                    Philadelphia, Pennsylvania          4.30%
30                                 Dallas, Texas         28.50%
31                        Menlo Park, California          1.10%
32                     Charlotte, North Carolina         22.60%
33                        Minneapolis, Minnesota          2.90%
34                             Round Rock, Texas          4.40%
35                             Chicago, Illinois         19.10%
36                       New York City, New York         26.60%
37                              Atlanta, Georgia          3.10%
38                       New York City, New York         23.40%
39                   Mooresville, North Carolina          0.80%
40                     New Brunswick, New Jersey          1.20%
41                            Memphis, Tennessee         11.40%
42                          Louisville, Kentucky         11.80%
43                                 Dallas, Texas         33.30%
44                         Bloomington, Illinois          8.60%
45                              McLean, Virginia         31.60%
46                            Purchase, New York          8.70%
47                     San Francisco, California          0.50%
48                           Burbank, California         22.70%
49                                Houston, Texas         69.90%
50                                 Austin, Texas         51.40%
51                              Cincinnati, Ohio          5.30%
52                              Washington, D.C.          2.00%
53                                  Boise, Idaho          8.00%
54                         Boston, Massachusetts          3.20%
55                       New York City, New York          1.70%
56                       New York City, New York          5.70%
57                                Houston, Texas         33.80%
58                        White Plains, New York         13.70%
59                    Arlington County, Virginia          4.20%
60                             Chicago, Illinois          6.90%
61                       New York City, New York         55.30%
62                            Bethesda, Maryland          1.60%
63                       New York City, New York          7.90%
64                       Santa Clara, California         20.10%
65                         Palo Alto, California          0.80%
66                           Clearwater, Florida         97.20%
67                              Armonk, New York         16.30%
68                          Nashville, Tennessee          2.50%
69                            Newark, New Jersey         15.30%
70                           Deerfield, Illinois         16.60%
71                        Kenilworth, New Jersey         15.80%
72                                Miami, Florida         88.40%
73                       New York City, New York         14.20%
74                                Houston, Texas         42.60%
75                          Lake Bluff, Illinois          3.30%
76                                Houston, Texas         36.30%
77                             Midland, Michigan          3.50%
78                       New York City, New York          8.40%
79                       New York City, New York         27.30%
80                             Lakeland, Florida         13.50%
81                         Stamford, Connecticut          4.50%
82                          Springdale, Arkansas         13.20%
83                              Moline, Illinois         19.40%
84                          San Jose, California          3.50%
85                                Columbus, Ohio          8.60%
86    Northfield Township, Cook County, Illinois          3.40%
87                              Atlanta, Georgia         69.20%
88                         Boston, Massachusetts          3.60%
89                     Framingham, Massachusetts          2.90%
90                        Mayfield Village, Ohio          4.00%
91                             Fort Worth, Texas         63.90%
92                Inver Grove Heights, Minnesota         24.30%
93                            Richmond, Virginia         61.60%
94             Parsippanyâ€“Troy Hills, New Jersey         71.80%
95                             Beaverton, Oregon          4.90%
96                          Richfield, Minnesota         10.60%
97                       New York City, New York          0.50%
98                             Chicago, Illinois         82.50%
99                        Waltham, Massachusetts         14.50%
100                        San Diego, California         31.70%

In [68]:
df.loc[40]

Name                              Johnson & Johnson
Revenue (USD millions)                       94,943
Revenue growth                                1.20%
Employees                                   152,700
Headquarters              New Brunswick, New Jersey
Name: 40, dtype: object

In [69]:
df.iloc[90]

Name                      American Airlines
Revenue (USD millions)               48,971
Revenue growth                       63.90%
Employees                           129,700
Headquarters              Fort Worth, Texas
Name: 91, dtype: object

In [71]:
df.reset_index(inplace=True)

## Order by in Python

In [72]:
df[df['Rank'] < 50].sort_values(by= ('Rank'),ascending=True)

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
5,6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
6,7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
7,8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
8,9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
9,10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
10,11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
11,12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
12,13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
13,14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
14,15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
15,16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
16,17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
17,18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
18,19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
19,20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
20,21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
21,22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
22,23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
23,24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
24,25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
25,26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
26,27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
27,28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
28,29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
29,30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
30,31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
31,32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
32,33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
33,34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
34,35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
35,36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
36,37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
37,38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
38,39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
39,40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
40,41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
41,42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
42,43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
43,44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
44,45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
45,46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
46,47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
47,48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
48,49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"

In [77]:
df[df['Rank'] < 50].sort_values(by=['Rank','Name'], ascending=[True,False])

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
5,6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
6,7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
7,8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
8,9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
9,10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
10,11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
11,12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
12,13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
13,14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
14,15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
15,16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
16,17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
17,18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
18,19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
19,20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
20,21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
21,22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
22,23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
23,24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
24,25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
25,26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
26,27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
27,28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
28,29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
29,30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
30,31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
31,32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
32,33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
33,34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
34,35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
35,36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
36,37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
37,38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
38,39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
39,40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
40,41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
41,42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
42,43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
43,44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
44,45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
45,46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
46,47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
47,48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
48,49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"

## Indexing

In [14]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Scripts.py\Companies.csv", index_col = 'Industry')
df

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
Industry,,,,,,
Retail,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
Retail and Cloud Computing,2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
Petroleum industry,3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
Electronics industry,4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
Healthcare,5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...
Retail,96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"
Pharmaceutical industry,97,Bristol-Myers Squibb,"46,159",0.50%,"34,300","New York City, New York"
Airline,98,United Airlines,"44,955",82.50%,"92,795","Chicago, Illinois"
Laboratory instruments,99,Thermo Fisher Scientific,"44,915",14.50%,"130,000","Waltham, Massachusetts"
Technology,100,Qualcomm,"44,200",31.70%,"51,000","San Diego, California"

In [80]:
df

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,"513,983",9.40%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,"413,680",44.80%,"62,000","Spring, Texas"
3,4,Apple,"394,328",7.80%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
5,6,CVS Health,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
6,7,Berkshire Hathaway,"302,089",9.40%,"383,000","Omaha, Nebraska"
7,8,Alphabet,"282,836",9.80%,"156,000","Mountain View, California"
8,9,McKesson Corporation,"276,711",4.80%,"48,500","Irving, Texas"
9,10,Chevron Corporation,"246,252",51.60%,"43,846","San Ramon, California"
10,11,AmerisourceBergen,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
11,12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
12,13,Microsoft,"198,270",18.00%,"221,000","Redmond, Washington"
13,14,Cardinal Health,"181,364",11.60%,"46,035","Dublin, Ohio"
14,15,Cigna,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
15,16,Marathon Petroleum,"180,012",27.60%,"17,800","Findlay, Ohio"
16,17,Phillips 66,"175,702",53.00%,"13,000","Houston, Texas"
17,18,Valero Energy,"171,189",58.00%,"9,743","San Antonio, Texas"
18,19,Ford Motor Company,"158,057",15.90%,"173,000","Dearborn, Michigan"
19,20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
20,21,General Motors,"156,735",23.40%,"167,000","Detroit, Michigan"
21,22,Elevance Health,"156,595",13.00%,"102,200","Indianapolis, Indiana"
22,23,JPMorgan Chase,"154,792",21.70%,"293,723","New York City, New York"
23,24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
24,25,Centene,"144,547",14.70%,"74,300","St. Louis, Missouri"
25,26,Verizon Communications,"136,835",2.40%,"117,100","New York City, New York"
26,27,Walgreens Boots Alliance,"132,703",10.70%,"262,500","Deerfield, Illinois"
27,28,Fannie Mae,"121,596",19.70%,"8,000","Washington, D.C."
28,29,Comcast,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
29,30,AT&T,"120,741",28.50%,"160,700","Dallas, Texas"
30,31,Meta Platforms,"116,609",1.10%,"86,482","Menlo Park, California"
31,32,Bank of America,"115,053",22.60%,"216,823","Charlotte, North Carolina"
32,33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
33,34,Dell Technologies,"102,301",4.40%,"133,000","Round Rock, Texas"
34,35,Archer Daniels Midland,"101,556",19.10%,"41,181","Chicago, Illinois"
35,36,Citigroup,"101,078",26.60%,"238,104","New York City, New York"
36,37,United Parcel Service,"100,338",3.10%,"404,700","Atlanta, Georgia"
37,38,Pfizer,"100,330",23.40%,"83,000","New York City, New York"
38,39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
39,40,Johnson & Johnson,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
40,41,FedEx,"93,512",11.40%,"518,249","Memphis, Tennessee"
41,42,Humana,"92,870",11.80%,"67,100","Louisville, Kentucky"
42,43,Energy Transfer Partners,"89,876",33.30%,"12,565","Dallas, Texas"
43,44,State Farm,"89,328",8.60%,"60,519","Bloomington, Illinois"
44,45,Freddie Mac,"86,717",31.60%,"7,819","McLean, Virginia"
45,46,PepsiCo,"86,859",8.70%,"315,000","Purchase, New York"
46,47,Wells Fargo,"82,859",0.50%,"238,000","San Francisco, California"
47,48,The Walt Disney Company,"82,722",22.70%,"195,800","Burbank, California"
48,49,ConocoPhillips,"82,156",69.90%,"9,500","Houston, Texas"
49,50,Tesla,"81,462",51.40%,"127,855","Austin, Texas"
50,51,Procter & Gamble,"80,187",5.30%,"106,000","Cincinnati, Ohio"
51,52,United States Postal Service,"78,620",2.00%,"576,000","Washington, D.C."
52,53,Albertsons,"77,650",8.00%,"198,650","Boise, Idaho"
53,54,General Electric,"76,555",3.20%,"172,000","Boston, Massachusetts"
54,55,MetLife,"69,898",1.70%,"45,000","New York City, New York"
55,56,Goldman Sachs,"68,711",5.70%,"48,500","New York City, New York"
56,57,Sysco,"68,636",33.80%,"70,510","Houston, Texas"
57,58,Bunge Limited,"67,232",13.70%,"23,000","White Plains, New York"
58,59,RTX Corporation,"67,074",4.20%,"182,000","Arlington County, Virginia"
59,60,Boeing,"66,608",6.90%,"156,000","Chicago, Illinois"
60,61,StoneX Group,"66,036",55.30%,"3,605","New York City, New York"
61,62,Lockheed Martin,"65,984",1.60%,"116,000","Bethesda, Maryland"
62,63,Morgan Stanley,"65,936",7.90%,"82,427","New York City, New York"
63,64,Intel,"63,054",20.10%,"131,900","Santa Clara, California"
64,65,HP,"62,983",0.80%,"58,000","Palo Alto, California"
65,66,TD Synnex,"62,344",97.20%,"28,500","Clearwater, Florida"
66,67,IBM,"60,530",16.30%,"303,100","Armonk, New York"
67,68,HCA Healthcare,"60,233",2.50%,"250,500","Nashville, Tennessee"
68,69,Prudential Financial,"60,050",15.30%,"39,583","Newark, New Jersey"
69,70,Caterpillar,"59,427",16.60%,"109,100","Deerfield, Illinois"
70,71,Merck & Co.,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
71,72,World Fuel Services,"59,043",88.40%,"5,214","Miami, Florida"
72,73,New York Life Insurance Company,"58,445",14.20%,"15,050","New York City, New York"
73,74,Enterprise Products,"58,186",42.60%,"7,300","Houston, Texas"
74,75,AbbVie,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
75,76,Plains All American Pipeline,"57,342",36.30%,"4,100","Houston, Texas"
76,77,Dow Chemical Company,"56,902",3.50%,"37,800","Midland, Michigan"
77,78,AIG,"56,437",8.40%,"26,200","New York City, New York"
78,79,American Express,"55,625",27.30%,"77,300","New York City, New York"
79,80,Publix,"54,942",13.50%,"242,000","Lakeland, Florida"
80,81,Charter Communications,"54,022",4.50%,"101,700","Stamford, Connecticut"
81,82,Tyson Foods,"53,282",13.20%,"142,000","Springdale, Arkansas"
82,83,John Deere,"52,577",19.40%,"82,239","Moline, Illinois"
83,84,Cisco,"51,557",3.50%,"83,300","San Jose, California"
84,85,Nationwide Mutual Insurance Company,"51,450",8.60%,"24,791","Columbus, Ohio"
85,86,Allstate,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
86,87,Delta Air Lines,"50,582",69.20%,"95,000","Atlanta, Georgia"
87,88,Liberty Mutual,"49,956",3.60%,"50,000","Boston, Massachusetts"
88,89,TJX,"49,936",2.90%,"329,000","Framingham, Massachusetts"
89,90,Progressive Corporation,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
90,91,American Airlines,"48,971",63.90%,"129,700","Fort Worth, Texas"
91,92,CHS,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
92,93,Performance Food Group,"47,194",61.60%,"34,825","Richmond, Virginia"
93,94,PBF Energy,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
94,95,Nike,"46,710",4.90%,"79,100","Beaverton, Oregon"
95,96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,"46,159",0.50%,"34,300","New York City, New York"
97,98,United Airlines,"44,955",82.50%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,"44,915",14.50%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,"44,200",31.70%,"51,000","San Diego, California"

In [14]:
df1.loc['Retail']

,Rank,Name,Revenue (USD millions),Revenue growth,Employees,Headquarters
Industry,,,,,,
Retail,1,Walmart,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
Retail,12,Costco,"226,954",15.80%,"304,000","Issaquah, Washington"
Retail,20,The Home Depot,"157,403",4.10%,"471,600","Atlanta, Georgia"
Retail,24,Kroger,"148,258",7.50%,"430,000","Cincinnati, Ohio"
Retail,33,Target Corporation,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
Retail,39,Lowe's,"97,059",0.80%,"244,500","Mooresville, North Carolina"
Retail,53,Albertsons,"77,650",8.00%,"198,650","Boise, Idaho"
Retail,80,Publix,"54,942",13.50%,"242,000","Lakeland, Florida"
Retail,89,TJX,"49,936",2.90%,"329,000","Framingham, Massachusetts"
Retail,96,Best Buy,"46,298",10.60%,"71,100","Richfield, Minnesota"

In [83]:
df.iloc[1]

Rank                                        2
Name                                   Amazon
Revenue (USD millions)                513,983
Revenue growth                          9.40%
Employees                           1,540,000
Headquarters              Seattle, Washington
Name: 1, dtype: object

## multi Index

In [104]:
df.set_index('Rank', inplace=True)

In [105]:
df.reset_index(inplace=True)

In [109]:
df.set_index(['Name', 'Industry'], inplace=True)

df

,,Rank,Revenue (USD millions),Revenue growth,Employees,Headquarters
Name,Industry,,,,,
Walmart,Retail,1,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
Amazon,Retail and Cloud Computing,2,"513,983",9.40%,"1,540,000","Seattle, Washington"
Exxon Mobil,Petroleum industry,3,"413,680",44.80%,"62,000","Spring, Texas"
Apple,Electronics industry,4,"394,328",7.80%,"164,000","Cupertino, California"
UnitedHealth Group,Healthcare,5,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
CVS Health,Healthcare,6,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
Berkshire Hathaway,Conglomerate,7,"302,089",9.40%,"383,000","Omaha, Nebraska"
Alphabet,Technology,8,"282,836",9.80%,"156,000","Mountain View, California"
McKesson Corporation,Health,9,"276,711",4.80%,"48,500","Irving, Texas"
Chevron Corporation,Petroleum industry,10,"246,252",51.60%,"43,846","San Ramon, California"
AmerisourceBergen,Pharmaceutical industry,11,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
Costco,Retail,12,"226,954",15.80%,"304,000","Issaquah, Washington"
Microsoft,Technology,13,"198,270",18.00%,"221,000","Redmond, Washington"
Cardinal Health,Healthcare,14,"181,364",11.60%,"46,035","Dublin, Ohio"
Cigna,Health Insurance,15,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
Marathon Petroleum,Petroleum industry,16,"180,012",27.60%,"17,800","Findlay, Ohio"
Phillips 66,Petroleum industry,17,"175,702",53.00%,"13,000","Houston, Texas"
Valero Energy,Petroleum industry,18,"171,189",58.00%,"9,743","San Antonio, Texas"
Ford Motor Company,Automotive industry,19,"158,057",15.90%,"173,000","Dearborn, Michigan"
The Home Depot,Retail,20,"157,403",4.10%,"471,600","Atlanta, Georgia"
General Motors,Automotive,21,"156,735",23.40%,"167,000","Detroit, Michigan"
Elevance Health,Healthcare,22,"156,595",13.00%,"102,200","Indianapolis, Indiana"
JPMorgan Chase,Financial services,23,"154,792",21.70%,"293,723","New York City, New York"
Kroger,Retail,24,"148,258",7.50%,"430,000","Cincinnati, Ohio"
Centene,Healthcare,25,"144,547",14.70%,"74,300","St. Louis, Missouri"
Verizon Communications,Telecommunications,26,"136,835",2.40%,"117,100","New York City, New York"
Walgreens Boots Alliance,Pharmaceutical industry,27,"132,703",10.70%,"262,500","Deerfield, Illinois"
Fannie Mae,Financials,28,"121,596",19.70%,"8,000","Washington, D.C."
Comcast,Telecommunications,29,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
AT&T,Conglomerate,30,"120,741",28.50%,"160,700","Dallas, Texas"
Meta Platforms,Technology,31,"116,609",1.10%,"86,482","Menlo Park, California"
Bank of America,Financials,32,"115,053",22.60%,"216,823","Charlotte, North Carolina"
Target Corporation,Retail,33,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
Dell Technologies,Technology,34,"102,301",4.40%,"133,000","Round Rock, Texas"
Archer Daniels Midland,Food industry,35,"101,556",19.10%,"41,181","Chicago, Illinois"
Citigroup,Financials,36,"101,078",26.60%,"238,104","New York City, New York"
United Parcel Service,Transportation,37,"100,338",3.10%,"404,700","Atlanta, Georgia"
Pfizer,Pharmaceutical industry,38,"100,330",23.40%,"83,000","New York City, New York"
Lowe's,Retail,39,"97,059",0.80%,"244,500","Mooresville, North Carolina"
Johnson & Johnson,Pharmaceutical industry,40,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
FedEx,Transportation,41,"93,512",11.40%,"518,249","Memphis, Tennessee"
Humana,Health Insurance,42,"92,870",11.80%,"67,100","Louisville, Kentucky"
Energy Transfer Partners,Petroleum industry,43,"89,876",33.30%,"12,565","Dallas, Texas"
State Farm,Financials,44,"89,328",8.60%,"60,519","Bloomington, Illinois"
Freddie Mac,Financials,45,"86,717",31.60%,"7,819","McLean, Virginia"
PepsiCo,Beverage,46,"86,859",8.70%,"315,000","Purchase, New York"
Wells Fargo,Financials,47,"82,859",0.50%,"238,000","San Francisco, California"
The Walt Disney Company,Media,48,"82,722",22.70%,"195,800","Burbank, California"
ConocoPhillips,Petroleum industry,49,"82,156",69.90%,"9,500","Houston, Texas"
Tesla,Automotive and Energy,50,"81,462",51.40%,"127,855","Austin, Texas"
Procter & Gamble,Consumer products Manufacturing,51,"80,187",5.30%,"106,000","Cincinnati, Ohio"
United States Postal Service,Logistics,52,"78,620",2.00%,"576,000","Washington, D.C."
Albertsons,Retail,53,"77,650",8.00%,"198,650","Boise, Idaho"
General Electric,Conglomerate,54,"76,555",3.20%,"172,000","Boston, Massachusetts"
MetLife,Financials,55,"69,898",1.70%,"45,000","New York City, New York"
Goldman Sachs,Financials,56,"68,711",5.70%,"48,500","New York City, New York"
Sysco,Food Service,57,"68,636",33.80%,"70,510","Houston, Texas"
Bunge Limited,Food industry,58,"67,232",13.70%,"23,000","White Plains, New York"
RTX Corporation,Conglomerate,59,"67,074",4.20%,"182,000","Arlington County, Virginia"
Boeing,Aerospace and defense,60,"66,608",6.90%,"156,000","Chicago, Illinois"
StoneX Group,Financials,61,"66,036",55.30%,"3,605","New York City, New York"
Lockheed Martin,Aerospace and Defense,62,"65,984",1.60%,"116,000","Bethesda, Maryland"
Morgan Stanley,Financials,63,"65,936",7.90%,"82,427","New York City, New York"
Intel,Technology,64,"63,054",20.10%,"131,900","Santa Clara, California"
HP,Technology,65,"62,983",0.80%,"58,000","Palo Alto, California"
TD Synnex,Infotech,66,"62,344",97.20%,"28,500","Clearwater, Florida"
IBM,Technology,67,"60,530",16.30%,"303,100","Armonk, New York"
HCA Healthcare,Healthcare,68,"60,233",2.50%,"250,500","Nashville, Tennessee"
Prudential Financial,Financials,69,"60,050",15.30%,"39,583","Newark, New Jersey"
Caterpillar,Machinery,70,"59,427",16.60%,"109,100","Deerfield, Illinois"
Merck & Co.,Pharmaceutical industry,71,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
World Fuel Services,Petroleum industry and Logistics,72,"59,043",88.40%,"5,214","Miami, Florida"
New York Life Insurance Company,Insurance,73,"58,445",14.20%,"15,050","New York City, New York"
Enterprise Products,Petroleum industry,74,"58,186",42.60%,"7,300","Houston, Texas"
AbbVie,Pharmaceutical industry,75,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
Plains All American Pipeline,Petroleum industry,76,"57,342",36.30%,"4,100","Houston, Texas"
Dow Chemical Company,Chemical industry,77,"56,902",3.50%,"37,800","Midland, Michigan"
AIG,Insurance,78,"56,437",8.40%,"26,200","New York City, New York"
American Express,Financial,79,"55,625",27.30%,"77,300","New York City, New York"
Publix,Retail,80,"54,942",13.50%,"242,000","Lakeland, Florida"
Charter Communications,Telecommunications,81,"54,022",4.50%,"101,700","Stamford, Connecticut"
Tyson Foods,Food Processing,82,"53,282",13.20%,"142,000","Springdale, Arkansas"
John Deere,Agriculture manufacturing,83,"52,577",19.40%,"82,239","Moline, Illinois"
Cisco,Telecom Hardware Manufacturing,84,"51,557",3.50%,"83,300","San Jose, California"
Nationwide Mutual Insurance Company,Financial,85,"51,450",8.60%,"24,791","Columbus, Ohio"
Allstate,Insurance,86,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
Delta Air Lines,Airline,87,"50,582",69.20%,"95,000","Atlanta, Georgia"
Liberty Mutual,Insurance,88,"49,956",3.60%,"50,000","Boston, Massachusetts"
TJX,Retail,89,"49,936",2.90%,"329,000","Framingham, Massachusetts"
Progressive Corporation,Insurance,90,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
American Airlines,Airline,91,"48,971",63.90%,"129,700","Fort Worth, Texas"
CHS,Agriculture cooperative,92,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
Performance Food Group,Food Processing,93,"47,194",61.60%,"34,825","Richmond, Virginia"
PBF Energy,Petroleum industry,94,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
Nike,Apparel,95,"46,710",4.90%,"79,100","Beaverton, Oregon"
Best Buy,Retail,96,"46,298",10.60%,"71,100","Richfield, Minnesota"
Bristol-Myers Squibb,Pharmaceutical industry,97,"46,159",0.50%,"34,300","New York City, New York"
United Airlines,Airline,98,"44,955",82.50%,"92,795","Chicago, Illinois"
Thermo Fisher Scientific,Laboratory instruments,99,"44,915",14.50%,"130,000","Waltham, Massachusetts"
Qualcomm,Technology,100,"44,200",31.70%,"51,000","San Diego, California"

In [110]:
df.sort_index()

,,Rank,Revenue (USD millions),Revenue growth,Employees,Headquarters
Name,Industry,,,,,
AIG,Insurance,78,"56,437",8.40%,"26,200","New York City, New York"
AT&T,Conglomerate,30,"120,741",28.50%,"160,700","Dallas, Texas"
AbbVie,Pharmaceutical industry,75,"58,054",3.30%,"50,000","Lake Bluff, Illinois"
Albertsons,Retail,53,"77,650",8.00%,"198,650","Boise, Idaho"
Allstate,Insurance,86,"51,412",3.40%,"54,250","Northfield Township, Cook County, Illinois"
Alphabet,Technology,8,"282,836",9.80%,"156,000","Mountain View, California"
Amazon,Retail and Cloud Computing,2,"513,983",9.40%,"1,540,000","Seattle, Washington"
American Airlines,Airline,91,"48,971",63.90%,"129,700","Fort Worth, Texas"
American Express,Financial,79,"55,625",27.30%,"77,300","New York City, New York"
AmerisourceBergen,Pharmaceutical industry,11,"238,587",11.50%,"41,500","Chesterbrook, Pennsylvania"
Apple,Electronics industry,4,"394,328",7.80%,"164,000","Cupertino, California"
Archer Daniels Midland,Food industry,35,"101,556",19.10%,"41,181","Chicago, Illinois"
Bank of America,Financials,32,"115,053",22.60%,"216,823","Charlotte, North Carolina"
Berkshire Hathaway,Conglomerate,7,"302,089",9.40%,"383,000","Omaha, Nebraska"
Best Buy,Retail,96,"46,298",10.60%,"71,100","Richfield, Minnesota"
Boeing,Aerospace and defense,60,"66,608",6.90%,"156,000","Chicago, Illinois"
Bristol-Myers Squibb,Pharmaceutical industry,97,"46,159",0.50%,"34,300","New York City, New York"
Bunge Limited,Food industry,58,"67,232",13.70%,"23,000","White Plains, New York"
CHS,Agriculture cooperative,92,"47,194",24.30%,"10,014","Inver Grove Heights, Minnesota"
CVS Health,Healthcare,6,"322,467",10.40%,"259,500","Woonsocket, Rhode Island"
Cardinal Health,Healthcare,14,"181,364",11.60%,"46,035","Dublin, Ohio"
Caterpillar,Machinery,70,"59,427",16.60%,"109,100","Deerfield, Illinois"
Centene,Healthcare,25,"144,547",14.70%,"74,300","St. Louis, Missouri"
Charter Communications,Telecommunications,81,"54,022",4.50%,"101,700","Stamford, Connecticut"
Chevron Corporation,Petroleum industry,10,"246,252",51.60%,"43,846","San Ramon, California"
Cigna,Health Insurance,15,"180,516",3.70%,"70,231","Bloomfield, Connecticut"
Cisco,Telecom Hardware Manufacturing,84,"51,557",3.50%,"83,300","San Jose, California"
Citigroup,Financials,36,"101,078",26.60%,"238,104","New York City, New York"
Comcast,Telecommunications,29,"121,427",4.30%,"186,000","Philadelphia, Pennsylvania"
ConocoPhillips,Petroleum industry,49,"82,156",69.90%,"9,500","Houston, Texas"
Costco,Retail,12,"226,954",15.80%,"304,000","Issaquah, Washington"
Dell Technologies,Technology,34,"102,301",4.40%,"133,000","Round Rock, Texas"
Delta Air Lines,Airline,87,"50,582",69.20%,"95,000","Atlanta, Georgia"
Dow Chemical Company,Chemical industry,77,"56,902",3.50%,"37,800","Midland, Michigan"
Elevance Health,Healthcare,22,"156,595",13.00%,"102,200","Indianapolis, Indiana"
Energy Transfer Partners,Petroleum industry,43,"89,876",33.30%,"12,565","Dallas, Texas"
Enterprise Products,Petroleum industry,74,"58,186",42.60%,"7,300","Houston, Texas"
Exxon Mobil,Petroleum industry,3,"413,680",44.80%,"62,000","Spring, Texas"
Fannie Mae,Financials,28,"121,596",19.70%,"8,000","Washington, D.C."
FedEx,Transportation,41,"93,512",11.40%,"518,249","Memphis, Tennessee"
Ford Motor Company,Automotive industry,19,"158,057",15.90%,"173,000","Dearborn, Michigan"
Freddie Mac,Financials,45,"86,717",31.60%,"7,819","McLean, Virginia"
General Electric,Conglomerate,54,"76,555",3.20%,"172,000","Boston, Massachusetts"
General Motors,Automotive,21,"156,735",23.40%,"167,000","Detroit, Michigan"
Goldman Sachs,Financials,56,"68,711",5.70%,"48,500","New York City, New York"
HCA Healthcare,Healthcare,68,"60,233",2.50%,"250,500","Nashville, Tennessee"
HP,Technology,65,"62,983",0.80%,"58,000","Palo Alto, California"
Humana,Health Insurance,42,"92,870",11.80%,"67,100","Louisville, Kentucky"
IBM,Technology,67,"60,530",16.30%,"303,100","Armonk, New York"
Intel,Technology,64,"63,054",20.10%,"131,900","Santa Clara, California"
JPMorgan Chase,Financial services,23,"154,792",21.70%,"293,723","New York City, New York"
John Deere,Agriculture manufacturing,83,"52,577",19.40%,"82,239","Moline, Illinois"
Johnson & Johnson,Pharmaceutical industry,40,"94,943",1.20%,"152,700","New Brunswick, New Jersey"
Kroger,Retail,24,"148,258",7.50%,"430,000","Cincinnati, Ohio"
Liberty Mutual,Insurance,88,"49,956",3.60%,"50,000","Boston, Massachusetts"
Lockheed Martin,Aerospace and Defense,62,"65,984",1.60%,"116,000","Bethesda, Maryland"
Lowe's,Retail,39,"97,059",0.80%,"244,500","Mooresville, North Carolina"
Marathon Petroleum,Petroleum industry,16,"180,012",27.60%,"17,800","Findlay, Ohio"
McKesson Corporation,Health,9,"276,711",4.80%,"48,500","Irving, Texas"
Merck & Co.,Pharmaceutical industry,71,"59,283",15.80%,"68,000","Kenilworth, New Jersey"
MetLife,Financials,55,"69,898",1.70%,"45,000","New York City, New York"
Meta Platforms,Technology,31,"116,609",1.10%,"86,482","Menlo Park, California"
Microsoft,Technology,13,"198,270",18.00%,"221,000","Redmond, Washington"
Morgan Stanley,Financials,63,"65,936",7.90%,"82,427","New York City, New York"
Nationwide Mutual Insurance Company,Financial,85,"51,450",8.60%,"24,791","Columbus, Ohio"
New York Life Insurance Company,Insurance,73,"58,445",14.20%,"15,050","New York City, New York"
Nike,Apparel,95,"46,710",4.90%,"79,100","Beaverton, Oregon"
PBF Energy,Petroleum industry,94,"46,830",71.80%,"3,616","Parsippanyâ€“Troy Hills, New Jersey"
PepsiCo,Beverage,46,"86,859",8.70%,"315,000","Purchase, New York"
Performance Food Group,Food Processing,93,"47,194",61.60%,"34,825","Richmond, Virginia"
Pfizer,Pharmaceutical industry,38,"100,330",23.40%,"83,000","New York City, New York"
Phillips 66,Petroleum industry,17,"175,702",53.00%,"13,000","Houston, Texas"
Plains All American Pipeline,Petroleum industry,76,"57,342",36.30%,"4,100","Houston, Texas"
Procter & Gamble,Consumer products Manufacturing,51,"80,187",5.30%,"106,000","Cincinnati, Ohio"
Progressive Corporation,Insurance,90,"49,611",4.00%,"55,063","Mayfield Village, Ohio"
Prudential Financial,Financials,69,"60,050",15.30%,"39,583","Newark, New Jersey"
Publix,Retail,80,"54,942",13.50%,"242,000","Lakeland, Florida"
Qualcomm,Technology,100,"44,200",31.70%,"51,000","San Diego, California"
RTX Corporation,Conglomerate,59,"67,074",4.20%,"182,000","Arlington County, Virginia"
State Farm,Financials,44,"89,328",8.60%,"60,519","Bloomington, Illinois"
StoneX Group,Financials,61,"66,036",55.30%,"3,605","New York City, New York"
Sysco,Food Service,57,"68,636",33.80%,"70,510","Houston, Texas"
TD Synnex,Infotech,66,"62,344",97.20%,"28,500","Clearwater, Florida"
TJX,Retail,89,"49,936",2.90%,"329,000","Framingham, Massachusetts"
Target Corporation,Retail,33,"109,120",2.90%,"440,000","Minneapolis, Minnesota"
Tesla,Automotive and Energy,50,"81,462",51.40%,"127,855","Austin, Texas"
The Home Depot,Retail,20,"157,403",4.10%,"471,600","Atlanta, Georgia"
The Walt Disney Company,Media,48,"82,722",22.70%,"195,800","Burbank, California"
Thermo Fisher Scientific,Laboratory instruments,99,"44,915",14.50%,"130,000","Waltham, Massachusetts"
Tyson Foods,Food Processing,82,"53,282",13.20%,"142,000","Springdale, Arkansas"
United Airlines,Airline,98,"44,955",82.50%,"92,795","Chicago, Illinois"
United Parcel Service,Transportation,37,"100,338",3.10%,"404,700","Atlanta, Georgia"
United States Postal Service,Logistics,52,"78,620",2.00%,"576,000","Washington, D.C."
UnitedHealth Group,Healthcare,5,"324,162",12.70%,"400,000","Minnetonka, Minnesota"
Valero Energy,Petroleum industry,18,"171,189",58.00%,"9,743","San Antonio, Texas"
Verizon Communications,Telecommunications,26,"136,835",2.40%,"117,100","New York City, New York"
Walgreens Boots Alliance,Pharmaceutical industry,27,"132,703",10.70%,"262,500","Deerfield, Illinois"
Walmart,Retail,1,"611,289",6.70%,"2,100,000","Bentonville, Arkansas"
Wells Fargo,Financials,47,"82,859",0.50%,"238,000","San Francisco, California"
World Fuel Services,Petroleum industry and Logistics,72,"59,043",88.40%,"5,214","Miami, Florida"

In [112]:
df1.set_index(['Country', 'State'], inplace=True)

In [113]:
df1

                                      Date  Day     Month  Year  Customer_Age  \
Country        State
Canada         British Columbia 2013-11-26   26  November  2013            19
               British Columbia 2015-11-26   26  November  2015            19
Australia      New South Wales  2014-03-23   23     March  2014            49
               New South Wales  2016-03-23   23     March  2016            49
               New South Wales  2014-05-15   15       May  2014            47
...                                    ...  ...       ...   ...           ...
United Kingdom England          2016-04-12   12     April  2016            41
Australia      Queensland       2014-04-02    2     April  2014            18
               Queensland       2016-04-02    2     April  2016            18
France         Seine (Paris)    2014-03-04    4     March  2014            37
               Seine (Paris)    2016-03-04    4     March  2016            37

                                Age Group CustoMaleer_Gender Product_Category  \
Country        State
Canada         British Columbia     Youth               Male      Accessories
               British Columbia     Youth               Male      Accessories
Australia      New South Wales     Adults               Male      Accessories
               New South Wales     Adults               Male      Accessories
               New South Wales     Adults             Female      Accessories
...                                   ...                ...              ...
United Kingdom England             Adults               Male         Clothing
Australia      Queensland           Youth               Male         Clothing
               Queensland           Youth               Male         Clothing
France         Seine (Paris)       Adults             Female         Clothing
               Seine (Paris)       Adults             Female         Clothing

                                Sub_Category              Product  \
Country        State
Canada         British Columbia   Bike Racks  Hitch Rack - 4-Bike
               British Columbia   Bike Racks  Hitch Rack - 4-Bike
Australia      New South Wales    Bike Racks  Hitch Rack - 4-Bike
               New South Wales    Bike Racks  Hitch Rack - 4-Bike
               New South Wales    Bike Racks  Hitch Rack - 4-Bike
...                                      ...                  ...
United Kingdom England                 Vests      Classic Vest, S
Australia      Queensland              Vests      Classic Vest, M
               Queensland              Vests      Classic Vest, M
France         Seine (Paris)           Vests      Classic Vest, L
               Seine (Paris)           Vests      Classic Vest, L

                                 Order_Quantity  Unit_Cost  Unit_Price  \
Country        State
Canada         British Columbia               8         45         120
               British Columbia               8         45         120
Australia      New South Wales               23         45         120
               New South Wales               20         45         120
               New South Wales                4         45         120
...                                         ...        ...         ...
United Kingdom England                        3         24          64
Australia      Queensland                    22         24          64
               Queensland                    22         24          64
France         Seine (Paris)                 24         24          64
               Seine (Paris)                 23         24          64

                                 Profit  Cost  Revenue
Country        State
Canada         British Columbia     590   360      950
               British Columbia     590   360      950
Australia      New South Wales     1366  1035     2401
               New South Wales     1188   900     2088
               New South Wales      238   180      418
...                                 ...   ...      ...
United Kingdom England              112    72      184
Australia      Queensland           655   528     1183
               Queensland           655   528     1183
France         Seine (Paris)        684   576     1260
               Seine (Paris)        655   552     1207

[112036 rows x 16 columns]

In [123]:
df1.sort_index(ascending=[True,False])

#pd.set_option('display.max.rows', 200)

                             Date  Day     Month  Year  Customer_Age  \
Country       State
Australia     Victoria 2014-05-22   22       May  2014            47
              Victoria 2016-05-22   22       May  2016            47
              Victoria 2014-02-22   22  February  2014            35
              Victoria 2016-02-22   22  February  2016            35
              Victoria 2013-07-30   30      July  2013            32
...                           ...  ...       ...   ...           ...
United States Arizona  2015-10-05    5   October  2015            24
              Alabama  2013-11-15   15  November  2013            40
              Alabama  2015-11-15   15  November  2015            40
              Alabama  2014-07-13   13      July  2014            40
              Alabama  2016-07-13   13      July  2016            40

                           Age Group CustoMaleer_Gender Product_Category  \
Country       State
Australia     Victoria        Adults             Female      Accessories
              Victoria        Adults             Female      Accessories
              Victoria        Adults               Male      Accessories
              Victoria        Adults               Male      Accessories
              Victoria  Young Adults             Female      Accessories
...                              ...                ...              ...
United States Arizona          Youth             Female      Accessories
              Alabama         Adults             Female      Accessories
              Alabama         Adults             Female      Accessories
              Alabama         Adults             Female      Accessories
              Alabama         Adults             Female      Accessories

                           Sub_Category              Product  Order_Quantity  \
Country       State
Australia     Victoria       Bike Racks  Hitch Rack - 4-Bike               4
              Victoria       Bike Racks  Hitch Rack - 4-Bike               2
              Victoria       Bike Racks  Hitch Rack - 4-Bike              22
              Victoria       Bike Racks  Hitch Rack - 4-Bike              21
              Victoria       Bike Racks  Hitch Rack - 4-Bike               8
...                                 ...                  ...             ...
United States Arizona   Tires and Tubes         HL Road Tire               1
              Alabama   Tires and Tubes  Patch Kit/8 Patches              25
              Alabama   Tires and Tubes  Patch Kit/8 Patches              27
              Alabama   Tires and Tubes  Patch Kit/8 Patches              27
              Alabama   Tires and Tubes  Patch Kit/8 Patches              26

                        Unit_Cost  Unit_Price  Profit  Cost  Revenue
Country       State
Australia     Victoria         45         120     199   180      379
              Victoria         45         120     100    90      190
              Victoria         45         120    1096   990     2086
              Victoria         45         120    1046   945     1991
              Victoria         45         120     398   360      758
...                           ...         ...     ...   ...      ...
United States Arizona          12          33      21    12       33
              Alabama           1           2      25    25       50
              Alabama           1           2      27    27       54
              Alabama           1           2      27    27       54
              Alabama           1           2      26    26       52

[112036 rows x 16 columns]

In [120]:
df1

                                      Date  Day     Month  Year  Customer_Age  \
Country        State
Canada         British Columbia 2013-11-26   26  November  2013            19
               British Columbia 2015-11-26   26  November  2015            19
Australia      New South Wales  2014-03-23   23     March  2014            49
               New South Wales  2016-03-23   23     March  2016            49
               New South Wales  2014-05-15   15       May  2014            47
...                                    ...  ...       ...   ...           ...
United Kingdom England          2016-04-12   12     April  2016            41
Australia      Queensland       2014-04-02    2     April  2014            18
               Queensland       2016-04-02    2     April  2016            18
France         Seine (Paris)    2014-03-04    4     March  2014            37
               Seine (Paris)    2016-03-04    4     March  2016            37

                                Age Group CustoMaleer_Gender Product_Category  \
Country        State
Canada         British Columbia     Youth               Male      Accessories
               British Columbia     Youth               Male      Accessories
Australia      New South Wales     Adults               Male      Accessories
               New South Wales     Adults               Male      Accessories
               New South Wales     Adults             Female      Accessories
...                                   ...                ...              ...
United Kingdom England             Adults               Male         Clothing
Australia      Queensland           Youth               Male         Clothing
               Queensland           Youth               Male         Clothing
France         Seine (Paris)       Adults             Female         Clothing
               Seine (Paris)       Adults             Female         Clothing

                                Sub_Category              Product  \
Country        State
Canada         British Columbia   Bike Racks  Hitch Rack - 4-Bike
               British Columbia   Bike Racks  Hitch Rack - 4-Bike
Australia      New South Wales    Bike Racks  Hitch Rack - 4-Bike
               New South Wales    Bike Racks  Hitch Rack - 4-Bike
               New South Wales    Bike Racks  Hitch Rack - 4-Bike
...                                      ...                  ...
United Kingdom England                 Vests      Classic Vest, S
Australia      Queensland              Vests      Classic Vest, M
               Queensland              Vests      Classic Vest, M
France         Seine (Paris)           Vests      Classic Vest, L
               Seine (Paris)           Vests      Classic Vest, L

                                 Order_Quantity  Unit_Cost  Unit_Price  \
Country        State
Canada         British Columbia               8         45         120
               British Columbia               8         45         120
Australia      New South Wales               23         45         120
               New South Wales               20         45         120
               New South Wales                4         45         120
...                                         ...        ...         ...
United Kingdom England                        3         24          64
Australia      Queensland                    22         24          64
               Queensland                    22         24          64
France         Seine (Paris)                 24         24          64
               Seine (Paris)                 23         24          64

                                 Profit  Cost  Revenue
Country        State
Canada         British Columbia     590   360      950
               British Columbia     590   360      950
Australia      New South Wales     1366  1035     2401
               New South Wales     1188   900     2088
               New South Wales      238   180      418
...                                 ...   ...      ...
United Kingdom England              112    72      184
Australia      Queensland           655   528     1183
               Queensland           655   528     1183
France         Seine (Paris)        684   576     1260
               Seine (Paris)        655   552     1207

[112036 rows x 16 columns]

In [124]:
df1.loc['Australia']

,Date,Day,Month,Year,Customer_Age,Age Group,CustoMaleer_Gender,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
State,,,,,,,,,,,,,,,,
New South Wales,2014-03-23,23,March,2014,49,Adults,Male,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
New South Wales,2016-03-23,23,March,2016,49,Adults,Male,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
New South Wales,2014-05-15,15,May,2014,47,Adults,Female,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
New South Wales,2016-05-15,15,May,2016,47,Adults,Female,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
Victoria,2014-05-22,22,May,2014,47,Adults,Female,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
New South Wales,2016-04-06,6,April,2016,58,Adults,Female,Clothing,Vests,"Classic Vest, L",22,24,64,697,528,1225
Victoria,2014-01-18,18,January,2014,32,Young Adults,Female,Clothing,Vests,"Classic Vest, M",28,24,64,744,672,1416
Victoria,2016-01-18,18,January,2016,32,Young Adults,Female,Clothing,Vests,"Classic Vest, M",29,24,64,770,696,1466
Queensland,2014-04-02,2,April,2014,18,Youth,Male,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
Queensland,2016-04-02,2,April,2016,18,Youth,Male,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183

In [125]:
df.iloc[2]

Rank                                  3
Revenue (USD millions)          413,680
Revenue growth                   44.80%
Employees                        62,000
Headquarters              Spring, Texas
Name: (Exxon Mobil, Petroleum industry), dtype: object